/*--------------------------PRIMERA PAGINA---------------------------------------------*/

.image1-bottom-left {
  position: absolute;
  bottom: 150px; 
  left: 150px;   
  width: 400px;  
  height: 80px;
}

.image2-bottom-right {
  position: absolute;
  bottom: 20px;  
  right: 20px;   
  width: 100px;  
  height: auto;
}
/*------------------------------------------------------------------------------------*/
.Texto1 h1{
  text-align:right;
  padding-right:480px;
  transform: translateY(120%);
  color: #0B7FCE;
  font-size:80px;
}

.Texto2 {
  text-align: right;
  color:black;
  transform: translateY(500%);
  padding-right: 15%;
}
/*------------------------------------------------------------------------------------*/

.centrado-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  width: 100%; 
}

.centrado {
  width: 1280px;
  height: 50px;
  background-color: #0B7FCE;
}

.centrado2 {
  position: absolute;
  right: 40px;
  width: 120px;
  height: 50px;
  background-color: #0B7FCE;
}

.boton{
  position: relative;
  right: -935px;
  bottom: 300px;
  width: 200px;
  color: white;
  background: #0B7FCE;
  border-radius: 5px;
  border:50px;
}

/*------------------------------------------SEGUNDA PAGINA---------------------------------------------------*/

.patrulla {

  input {
    height: 35px;
    width: 350px; 
  }
  
  content: "texto";  
  position: absolute;
  right: 20%;           
  top: 55%;               
  transform: translateY(-50%); 
  width: 300px;           
  height: 50px;           
  color: white;             
  display: flex;             
  justify-content: center;   
  align-items: center;       
  font-size: 16px;           
}

.cuadrante {
  input {
    height: 35px;
    width: 350px; 
  }
  
  position: absolute;
  right: 20%;             
  top: 65%;                
  transform: translateY(-50%); 
  width: 300px;             
  height: 100px;             
  color: white;         
  display: flex;             
  justify-content: center;   
  align-items: center;       
  font-size: 16px;          
}

/*------------------------------------------------------------------------------------*/

.linea{
  width:5px;
  height:5px;
  background-color: #0B7FCE;
  margin:auto;
  height:65vh;
}

.linea2{
  height:5px; 
  background-color: #0078d7; 
  width: 500px;
  margin-top: -420px;
  transform: translateX(10%);
}

/*------------------------------------------------------------------------------------*/

.cuadroFondo{
  width: 500px; 
  height: 170px; 
  background-color: #0B7FCE;
  position: relative;
  top: -380px;
  transform:translateX(800px);
  border-radius: 10px;
}

.cuadroFondo2{
  width: 300px; 
  height: 630px; 
  background-color: #0B7FCE;
  position: relative;
  top: 40px;
  transform:translateX(30px);
  border-radius: 10px;
}

.marco{
  width: 1079px; 
  height: 630px; 
  background-color: #0B7FCE;
  position: relative;
  top: -590px;
  transform:translateX(370px);
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid #0B7FCE; 
}

/*------------------------------------------------------------------------------------*/

.image2_1-bottom-left {
  position: absolute;
  bottom: -850px;     
  right: 350px;
  opacity:0.2;      
}


.image2_2-bottom-left {
  position: absolute;
  bottom: -890px;     
  right: 50px;        
}

/*------------------------------------------------------------------------------------*/

.image3_2-bottom-left{
  position: absolute;
  bottom: -190px;     
  right: 50px;
}

/*------------------------------------------------------------------------------------*/

.image5_2-bottom-left{
  position: absolute;
  bottom: -370px;
  left: 50px;
}

.textoCasa1{
  position: absolute;
  bottom: -860px;     
  left: 120px;
  transform: translateY(-1200%);
  font-size: 100%;
  color:white;
  cursor: pointer;
}

/*------------------------------------------------------------------------------------*/

.image6_2-bottom-left{
  position: absolute;
  bottom: -440px;
  left: 50px;
}

.textoCasa2{
  position: absolute;
  bottom: -930px;     
  left: 120px;
  transform: translateY(-1200%);
  font-size: 100%;
  color:white;
  cursor: pointer;
}

/*------------------------------------------------------------------------------------*/

.image7_2-bottom-left{
  position: absolute;
  bottom: -510px;
  left: 50px;
}

.textoCasa3{
  position: absolute;
  bottom: -1000px;     
  left: 120px;
  transform: translateY(-1200%);
  font-size: 100%;
  color:white;
  cursor: pointer;
}

/*------------------------------------------------------------------------------------*/

.image8_2-bottom-left{
  position: absolute;
  bottom: -580px;
  left: 50px;
}

.textoCasa4{
  position: absolute;
  bottom: -1070px;     
  left: 120px;
  transform: translateY(-1200%);
  font-size: 100%;
  color:white;
  cursor: pointer;
}

/*---------------------------------------TERCERA PAGINA---------------------------------------------------*/

.image9-bottom-left{
  position: absolute;
  bottom: -2160px;     
  right: 350px;
  opacity:0.2; 
}

/*------------------------------------------------------------------------------------*/

.image10-bottom-left{
  position: absolute;
  bottom: -2215px;     
  right: 60px;
}

/*------------------------------------------------------------------------------------*/


.image11_2-bottom-left{
  position: absolute;
  bottom: -1680px;
  left: 50px;
}

.textoCasa11{
  position: absolute;
  bottom: -2170px;     
  left: 120px;
  transform: translateY(-1200%);
  font-size: 100%;
  color:rgb(255, 255, 255);
  cursor: pointer;
}

/*------------------------------------------------------------------------------------*/

.image12_2-bottom-left{
  position: absolute;
  bottom: -1750px;
  left: 50px;
}

.textoCasa12{
  position: absolute;
  bottom: -2245px;     
  left: 120px;
  transform: translateY(-1200%);
  font-size: 100%;
  color:rgb(255, 255, 255);
  cursor: pointer;
}

/*------------------------------------------------------------------------------------*/

.image13_2-bottom-left{
  position: absolute;
  bottom: -1825px;
  left: 50px;
}

.textoCasa13{
  position: absolute;
  bottom: -2315px;     
  left: 120px;
  transform: translateY(-1200%);
  font-size: 100%;
  color:rgb(255, 255, 255);
  cursor: pointer;
}

/*------------------------------------------------------------------------------------*/

.image14_2-bottom-left{
  position: absolute;
  bottom: -1900px;
  left: 50px;
}

.textoCasa14{
  position: absolute;
  bottom: -2390px;     
  left: 120px;
  transform: translateY(-1200%);
  font-size: 100%;
  color:rgb(255, 255, 255);
  cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/

.marco1{
  right: -50px;
  width: 1000px; 
  height: 545px; 
  background-color: #0B7FCE;
  position: relative;
  top: -1180px;
  transform:translateX(370px);
  border-radius: 30px;
  border-color:#0B7FCE;
  background-color: transparent;
  border: 2px solid #0B7FCE; 
}
.Tabla {
  display: flex;
  justify-content: center; 
  margin: -1px auto;
  padding: 10px;
  background-color: #606060; 
  border: 1px solid #606060; 
  border-radius: 0px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

table {
  width: 100%;
  border-collapse: collapse; 
  text-align: center;
}

th {
  background-color: #606060 ; 
  color: white; 
  font-size: 18px;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}